:root {
    --dark-blue: #192646;
    --light-blue: #096dd2;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: PT Sans, Trebuchet MS, Arial Narrow, sans-serif;
    font-weight: 700;
    background-color: white;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    font-weight: 700;
}
#container {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    width: 1200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #0003 0 2px 8px;
}
.headerCells {
    background-color: #DDDDDD;
    padding: 0;
    margin: 0 !important;
}
.dropdown{
    position: absolute;
    height: 200px;
    width:300px;
    overflow: scroll;
    background-color: white;
    box-shadow: #0003 0 2px 8px;
}
.dropdown > div{
    cursor: pointer;
    
}

.cell{
    text-align: center;
    margin: 5px;
}