:root {
    --dark-blue: #192646;
    --light-blue: #096dd2;
    --grid: rgba(128, 128, 128, 0.25);
    --highlighter: rgba(143, 208, 100, 0.68);
}
* {
    font-family: "Playpen Sans", cursive;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*font-family: "Kalam", cursive;*/
    /*font-family: "Tillana", system-ui;*/
    font-weight: 700;
}

body {
    text-align: center;
    background-size: 3vh 3vh; 
    scale: calc(100vw / 1200);   
}

.extras {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.grid {
    background-image:
        linear-gradient(to right, var(--grid) 2px, transparent 1px),
        linear-gradient(to bottom, var(--grid) 2px, transparent 1px);
}

.dots {
    background-size: 3vh 3vh;
    background-image: radial-gradient(circle, var(--grid) 2px, #FFFFFF  1px);
}

.adjustmentFactor {
    display: flex;
    justify-content: left;
    align-items: center;
}

input[type="text"], input[type="number"] {
    /*font-family: "Kalam", cursive;*/
    border: 2px solid var(--highlighter);
    border-radius: 10px;
    text-align: center;
    padding: 0;
}
input {
    font-weight: 700;
    
}
img {
    max-width: 800px;
}
button {
    background-color: white;
    color: var(--highlighter);
    border: 3px solid var(--highlighter);
    font-weight: 700;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
}
.main {
    text-align: left;
    width: 1300px;
    margin: auto;
}
#container {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    background-color: white;
    padding: 10px;
    width: 1300px;
    border-radius: 10px;
    /*
    box-shadow: #0003 0 2px 8px;
    */
    /*
    border: 3px solid rgba(128, 128, 128, 0.459);
    */
    border: 3px solid var(--highlighter);
    margin: auto;
}
.headerCells {
    color: var(--highlighter);
    font-size: 20px;
    padding: 0;
    margin: 0 !important;
}
.dropdown{
    position: absolute;
    height: 200px;
    width:300px;
    overflow: scroll;
    background-color: white;
    box-shadow: #0003 0 2px 8px;
    border: var(--highlighter) 3px solid;
    border-radius: 10px;
}
.dropdown > div{
    cursor: pointer;
    
}

.cell{
    text-align: center;
    margin: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--highlighter);
    font-size: 20px;
}
footer a {
    color: var(--highlighter);
}

/* Input Switch https://www.w3schools.com/howto/howto_css_switch.asp*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
