:root {
    --dark-blue: #192646;
    --light-blue: #096dd2;
    --grid: rgba(128, 128, 128, 0.15);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: PT Sans, Trebuchet MS, Arial Narrow, sans-serif;
    font-weight: 700;
}

body {
    text-align: center;
    background-size: 3vh 3vh;    
}
.extras {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.grid {
    background-image:
        linear-gradient(to right, var(--grid) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid) 1px, transparent 1px);
}
.dots {
    background-size: 3vh 3vh;
    background-image: radial-gradient(circle, var(--grid) 2px, #FFFFFF  1px);
}

input {
    font-weight: 700;
}
img {
    width: 800px;
    margin: auto;
}
#container {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    width: 1200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #0003 0 2px 8px;
    border: 1px solid rgba(128, 128, 128, 0.459);
    margin: auto;
}
.headerCells {
    background-color: #DDDDDD;
    padding: 0;
    margin: 0 !important;
}
.dropdown{
    position: absolute;
    height: 200px;
    width:300px;
    overflow: scroll;
    background-color: white;
    box-shadow: #0003 0 2px 8px;
}
.dropdown > div{
    cursor: pointer;
    
}

.cell{
    text-align: center;
    margin: 5px;
}



/* Input Switch https://www.w3schools.com/howto/howto_css_switch.asp*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }